<link rel="stylesheet" href="/css/style.css" />
<div class="container-premium">
  <h1 class="text-center">Bienvenido al Panel de Usuarios Premium</h1>

  <div class="form-container-premium">
    <h2>Agregar Nuevo Producto Premium</h2>
    <form id="productForm" class="formulario-premium">
      <div class="formulario-campo-premium">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" required />
      </div>

      <div class="formulario-campo-premium">
        <label for="description">Descripción:</label>
        <textarea id="description" name="description" required></textarea>
      </div>

      <div class="formulario-campo-premium">
        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" required />
      </div>

      <div class="formulario-campo-premium">
        <label for="img">Imagen:</label>
        <input type="text" id="img" name="img" placeholder="URL de la imagen" />
      </div>

      <div class="formulario-campo-premium">
        <label for="code">Código:</label>
        <input type="text" id="code" name="code" required />
      </div>

      <div class="formulario-campo-premium">
        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock" required />
      </div>

      <div class="formulario-campo-premium">
        <label for="category">Categoría:</label>
        <input type="text" id="category" name="category" required />
      </div>

      <div class="formulario-campo-premium">
        <label for="status">Estado:</label>
        <select id="status" name="status">
          <option value="true">Activo</option>
          <option value="false">Inactivo</option>
        </select>
      </div>

      <button type="submit" class="btn-premium">Agregar Producto Premium</button>
    </form>
  </div>

  <input type="hidden" id="userId" value="{{this._id}}" />
  <h3 class="productos-title-premium">Tus Productos Premium</h3>
  <ul id="userProductsList" class="product-list-premium">
    {{#each userProducts}}
      <li class="product-item-premium">
        <h3>{{this.title}}</h3>
        <p>{{this.description}}</p>
        <p>Precio: ${{this.price}}</p>
        <form class="deleteForm-premium" data-product-id="{{this._id}}">
          <button type="button" class="deleteButton-premium">Eliminar</button>
        </form>
      </li>
    {{/each}}
  </ul>

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/panel-premium.js"></script>